<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student dashboard</title>
  <link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
</head>
<body>
  <header>
    <img src="/images/Headermgujpg.webp" alt="Logo" class="logo-image" />
    <h3 class="header">
      <% if (user && user.name) { %>
     <span>You are logged in as <%= user.name %></span>
       <% } %>
       <a href="/logout" class="right-link">Logout</a>
     </h3>
     <h1> Welcome to your Dashboard</h1>
  </header>
<body>
  
  <table border="1" cellspacing="0" cellpadding="10">
    <tr>
      <th>Roll Number</th>
      <td><%= student.roll_number %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= student.gender %></td>
    </tr>
    <tr>
      <th>Course</th>
      <td><%= student.course %></td>
    </tr>
    <tr>
      <th>Year</th>
      <td><%= student.year %></td>
    </tr>
  </table>
  <div class="center-links">
  <p><a href="/studenthistory/<%= student.roll_number %>">View History</a></p>
  <p><a href="/student-edit/<%= student.roll_number %>">Edit</a></p>
  <p> <a href="/apply?type=renewal">Renewal</a></p>
  </div>
</body>

</html>
