<!DOCTYPE html>
<html lang="en">
  <div class="top-links">
    <a href="/logout" class="right-link">Logout</a>
    <% if (user && user.name) { %>
      <span class="user-name"><%= user.name %></span>
    <% } %>
  </div>
<head>
  <header>
    <img src="/images/Headermgujpg.webp" alt="Logo"/>
  </header>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
</head>
<body>
  <h2> Welcome to your Dashboard</h2>

  <table border="1" cellspacing="0" cellpadding="10">
    <tr>
      <th>Roll Number</th>
      <td><%= student.roll_number %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= student.gender %></td>
    </tr>
    <tr>
      <th>Course</th>
      <td><%= student.course %></td>
    </tr>
    <tr>
      <th>Year</th>
      <td><%= student.year %></td>
    </tr>
  </table>

  <p><a href="/studenthistory">View History</a></p>
  <p><a href="/student-edit/<%= student.roll_number %>">EDIT</a></p>
 
</body>
</html>
