
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Student details</title>
  <link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
</head>
<body>
  <header>
    <img src="/images/Headermgujpg.webp" alt="Logo" class="logo-image" />
    <h3 class="header">
      <% if (user && user.name) { %>
     <span>You are logged in as <%= user.name %></span>
       <% } %>
       <a href="/logout" class="right-link">Logout</a>
     </h3>
     <h1>Edit details</h1>
  </header>

  <form action="/student-edit/<%= student.roll_number %>" method="POST" class="login-form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= student.name %>" required />
  
    <label for="course">Course:</label>
    <input type="text" id="course" name="course" value="<%= student.course %>" required />
  
    <label for="year">Year:</label>
    <input type="text" id="year" name="year" value="<%= student.year %>" required />
  
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
      <option value="Male" <%= student.gender === 'Male' ? 'selected' : '' %>>Male</option>
      <option value="Female" <%= student.gender === 'Female' ? 'selected' : '' %>>Female</option>
      <option value="Other" <%= student.gender === 'Other' ? 'selected' : '' %>>Other</option>
    </select>
  
    <button type="submit">Update</button>
  </form>
  <div class="center-links">
    <a href="/dashboard">Go to Dashboard</a>
  </div>
  
</body>
</html>
