<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../styles/style.css"> <!-- Link to CSS -->
</head>
<body>
  <header>
    <img src="/images/Headermgujpg.webp" alt="Logo" class="logo-image" />
    <h3 class="header">
      <% if (user && user.name) { %>
     <span>You are logged in as <%= user.name %></span>
       <% } %>
       <a href="/logout" class="right-link">Logout</a>
     </h3>
     <h1>History</h1>
  </header>
<body>
</header>
<table class="data-table">
  <thead>
    <tr>
      <th>Roll Number</th>
      <th>Room No</th>
      <th>Fee Paid</th>
      <th>Fee Due</th>
      <th>Month</th>
      <th>Monthly Bill</th>
     <th>Scholarship</th>
      <% if (typeof user !== 'undefined' && user && user.is_admin) { %>
        <th>Edit</th>
      <% } %>
    </tr>
  </thead>
  <tbody>
    <% if (!history ||history.length === 0) { %>
      <tr>
        <td colspan="7">No history found for this student.</td>
        <% if (user && user.is_admin) { %>
          <td><a href="/enterstudenthistory/<%= roll_number %>">Click here</a></td>
        <% } %>
      </tr>
    <% } else { %>
      <% history.forEach(item => { %>
        <tr>
          <td><%= item.roll_number %></td>
          <td><%= item.room_no %></td>
          <td><%= item.feepaid %></td>
          <td><%= item.feedue %></td>
          <td><%= item.month %></td>
          <td><%= item.monthlybill %></td>
          <td><%= item.scholarship %></td>
          <% if (user && user.is_admin) { %>
            <td><a href="/editstudenthistory/<%= roll_number %>">Click here</a></td>
          <% } %>
        </tr>
      <% }) %>
    <% } %>
  </tbody>
</table>
<br>
<div class="center-links">
  <a href="/dashboard">Go to Dashboard</a>
</div>

</body>
</html>
